{{- with .Params.LastModifierDisplayName }}
              <i class='fas fa-user'></i> {{ with $.Params.LastModifierEmail }}<a href="mailto:{{ . }}">{{ end }}{{ . }}{{ with $.Params.LastModifierEmail }}</a>{{ end }}
  {{- with $.Date }}
              <i class='fas fa-calendar'></i> {{ . | time.Format ":date_medium" }}
  {{- end }}
{{- end }}
{{- partial "term-list.html" (dict
  "page" .
  "taxonomy" "categories"
  "icon" "layer-group"
) }}



<!-- Partial intended to be overwritten with tags loaded at the end of the page loading (usually for Javascript)
<script>
  console.log("running some javascript");
</script>
-->

