{{- with .Params.LastModifierDisplayName }}
              <i class='fas fa-user'></i> {{ with $.Params.LastModifierEmail }}<a href="mailto:{{ . }}">{{ end }}{{ . }}{{ with $.Params.LastModifierEmail }}</a>{{ end }}
  {{- with $.Date }}
              <i class='fas fa-calendar'></i> {{ . | time.Format ":date_medium" }}
  {{- end }}
{{- end }}
{{- partial "term-list.html" (dict
  "page" .
  "taxonomy" "categories"
  "icon" "layer-group"
) }}



<!-- Partial intended to be overwritten with tags loaded at the end of the page loading (usually for Javascript)
<script>
  console.log("running some javascript");
</script>
-->
<style>

.custom-footer {
    background-color: #f8f8f8; /* Adjust the background color as needed */
    padding: 20px 0;
    text-align: center;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-heading {
    font-size: 20px; /* Adjust font size as needed */
    margin-bottom: 10px;
}

.footer-images {
    display: flex; /* This will align images in a row */
    justify-content: center; /* Center the images horizontally */
    flex-wrap: wrap; /* Allows images to wrap to the next line on smaller screens */
}

.footer-images img {
    width: 150px;  /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    object-fit: contain; /* This will scale the image to fit within the dimensions */
    margin: 0 10px; /* Maintain some space around images */
    vertical-align: middle;

}

  </style>

<footer class="custom-footer">
  {{ with .Site.Params.footer.organizersPath }}
  {{ $organizersPath := . }}
  {{ $organizersImages := (readDir (printf "static/%s" $organizersPath)) }}
  {{ if gt (len $organizersImages) 0 }}
  <div class="footer-section">
      <h3 class="footer-heading">Organized by</h3>
      <div class="footer-images">
          {{ range $organizersImages }}
          <img src="{{ printf "/%s/%s" $organizersPath .Name | relURL }}" alt="Organizer Logo">
          {{ end }}
      </div>
  </div>
  {{ end }}
  {{ end }}

  {{ with .Site.Params.footer.sponsorsPath }}
  {{ $sponsorsPath := . }}
  {{ $sponsorsImages := (readDir (printf "static/%s" $sponsorsPath)) }}
  {{ if gt (len $sponsorsImages) 0 }}
  <div class="footer-section">
      <h3 class="footer-heading">Sponsored by</h3>
      <div class="footer-images">
          {{ range $sponsorsImages }}
          <img src="{{ printf "/%s/%s" $sponsorsPath .Name | relURL }}" alt="Sponsor Logo">
          {{ end }}
      </div>
  </div>
  {{ end }}
  {{ end }}
</footer>
