<!-- Partial intended to be overwritten with tags loaded at the end of the page loading (usually for Javascript)
<script>
  console.log("running some javascript");
</script>
-->

<style>

.custom-footer {
      background-color: #ffffff; /* Adjust the background color as needed */
      padding: 20px 0;
      text-align: center;
  }
  
  .footer-section {
      margin-bottom: 20px;
  }
  
  .section-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Adds space below the heading and divider before the logos start */

}

.divider {
    flex-grow: 1;
    height: 2px;
    background-color: #ececec; /* Or any color of your choice */
    margin: 0 5px 20px; /* Adjusts spacing around the heading and adds space below */
}

.footer-heading {
  margin: 0 -30px 20px 0; /* Ensures footer headings have the same gap as the dividers from the logos */
  font-size: 1.5rem;
  font-weight: 400;

}
  
.footer-images {
    display: flex; /* This will align images in a row */
    justify-content: center; /* Center the images horizontally */
    flex-wrap: wrap; /* Allows images to wrap to the next line on smaller screens */
    gap: 30px; /* Adds space between logos */
}

.footer-images img {
    height: 3rem; /* Set a fixed height to ensure all logos are of the same height */
    width: auto;  /* Width is automatically adjusted to preserve the original aspect ratio */
    object-fit: contain; /* Ensures that the image is scaled to maintain its aspect ratio while fitting within the element's content box */
    margin-bottom: 10px; /* Maintain vertical space around images */
    justify-content: center; /* Center the images horizontally across all screen sizes */

}
  
    </style>
  
  <footer class="custom-footer">
    {{ with .Site.Params.footer.organizersPath }}
    {{ $organizersPath := . }}
    {{ $organizersImages := (readDir (printf "static/%s" $organizersPath)) }}
    {{ if gt (len $organizersImages) 0 }}
    <div class="footer-section">
        <div class="section-heading">
            <span class="divider"></span>
            <h3 class="footer-heading">Organized by</h3>
            <span class="divider"></span>
        </div>
        <div class="footer-images">
            {{ range $organizersImages }}
            <img src="{{ printf "/%s/%s" $organizersPath .Name | relURL }}" alt="Organizer Logo">
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ end }}
  
    {{ with .Site.Params.footer.sponsorsPath }}
    {{ $sponsorsPath := . }}
    {{ $sponsorsImages := (readDir (printf "static/%s" $sponsorsPath)) }}
    {{ if gt (len $sponsorsImages) 0 }}
    <div class="footer-section">
        <div class="section-heading">
            <span class="divider"></span>
            <h3 class="footer-heading">Sponsored by</h3>
            <span class="divider"></span>
        </div>
        <div class="footer-images">
            {{ range $sponsorsImages }}
            <img src="{{ printf "/%s/%s" $sponsorsPath .Name | relURL }}" alt="Sponsor Logo">
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ end }}
</footer>

  
