<div class="menu-footer-class">
    <a href="https://www.ieee.org" target="_blank">
        <img src="/images/ieee.png" alt="IEEE Logo" style="height: 50px; display: block; margin-bottom: 10px;">
    </a>
    <a href="https://www.ieee-ies.org" target="_blank">
        <img src="/images/ies.png" alt="IEEE IES Logo" style="height: 50px; display: block;">
    </a>
</div>

<style>

.menu-footer-class a img {
    display: block; 
    margin: auto; 
    height: 50px; 
    margin-bottom: 10px; 
}

.menu-footer-class a:last-of-type img {
    margin-bottom: 0; 
}
</style>