{{ $type := .Get "type" }}
{{ $url := .Get "url" | absURL }}

<div class="iframe-container" style="width: {{ .Get "width" }}; height: {{ .Get "height" }};">
    {{ if eq $type "external" }}
    <iframe src="https://docs.google.com/gview?url={{ .Get "url" | absURL }}&embedded=true" style="width:100%; height:100%;" frameborder="0"></iframe>
    {{ else if eq $type "local" }}
    <iframe src="{{ $url }}" style="width:100%; height:100%;" type="application/pdf" frameborder="0"></iframe>
    {{ else }}
    <p>Invalid type specified for PDF embed.</p>
    {{ end }}
</div>


<style>
    .iframe-container {
        position: relative;
        width: 100%; /* Default to full width */
        height: 0; /* Default to 0, will be overridden if height is provided */
        padding-bottom: 56.25%; /* Aspect ratio padding for responsiveness, adjust as needed */
    }
    
    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    </style>